.item_img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  .add_btn {
    width: 75px;
    input {
      display: none;
    }
    .file {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #9de374;
      color: #ffffff;
      width: 75px;
      height: 75px;
      border-radius: 90px;
      font-weight: bold;
      line-height: 75px;
      font-size: 75px;
      transition: 0.3s;
      cursor: pointer;
      p {
        margin-bottom: 20px;
      }
    }
    .file:active {
      opacity: 0.5;
    }
    .file:hover {
      opacity: 0.7;
    }
  }
}
.add_href {
  margin-top: 10px;
}
