.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

  width: 100%;
  height: 100vh;
  /* background-color: aquamarine; */
  font-weight: bold;
  color: rgb(44, 44, 44);
}

/* .App-light {
  color: #232127;
}

.App-dark {
  color: #e5e3e8;
} */
body {
  background-color: rgba(255, 0, 0, 0.925);
}
:root {
  /* background-color: rgba(255, 255, 255, 0); */
}
