.twitch_slider_box_pos {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  .slider_prop {
    position: relative;
    width: 100%;

    .img_box {
      background-color: rgba(0, 255, 110, 0);
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      .a_box {
        height: 100%;
        width: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .awssld__controls {
    button {
      opacity: 0;
    }
  }
  .awssld {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .pointer {
    cursor: pointer;
  }
}
